.gray {
    background-color: gray;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.card {
    background-color: gray;
    width: 300px;
    height: 200px;
    border: solid 1px black;
}

.card p,
.card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
}